[submodule "vendor/fiesta/error"]
	path = vendor/fiesta/error
	url = https://github.com/fiesta-framework/Error.git
[submodule "vendor/fiesta/whoops"]
	path = vendor/fiesta/whoops
	url = https://github.com/fiesta-framework/whoops.git
[submodule "vendor/fiesta/panel"]
	path = vendor/fiesta/panel
	url = https://github.com/fiesta-framework/Panel.git
[submodule "vendor/fiesta/kernel"]
	path = vendor/fiesta/kernel
	url = https://github.com/fiesta-framework/Kernel.git
	branch = 3.2
