<?xml version="1.0" encoding="UTF-8"?>
<phpunit 
	bootstrap="bootstrap/console.php" 
	colors="true" 
	convertErrorsToExceptions="true" 
	convertNoticesToExceptions="true" 
	convertWarningsToExceptions="true" 
	>
    <testsuites>
	    <testsuite name="Vinala Test">
	    	<directory suffix=".test.php">./tests/</directory>
	    </testsuite>
	</testsuites>
	<php>
        <server name='HTTP_HOST' value='localhost' />
        <server name='REQUEST_URI' value='/vinala' />
    </php>
</phpunit>
